layout {
    pane command="fish" {
        args "-C" "/home/akira/Documents/Notes" "-c nvim -c 'Neorg index'"
    }
    pane size=1 borderless=true {
        plugin location="zellij:compact-bar"
    }
}
